body {
  background-color: #f3f1f7;
}

div {
  margin-right: auto;
  margin-left: auto;
  width: 500px;
}

h1 {
  font-family: "homemade apple", cursive;
  color: #03a9f4;
  margin-left: 150px;
  margin-right: auto;
}

.newThought {
  background-color: #03a9f4;
  height: 40px;
  width: 500px;
  color: white;
  border: 1px solid black;
}

.postsList {
  margin-top: 10px;
  border: 1px solid black;
}
